[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-graphql-jwt = "==0.3.2"
django-cors-headers = "*"
pyjwt = "*"
gunicorn = "*"
dj-database-url = "*"
ipython = "*"
python-dotenv = "*"
djangorestframework = "*"
pillow = "*"
django-extra-fields = "*"
djangorestframework-filters = "==1.0.0.dev2"
django-storages = "*"
boto3 = "*"
django-heroku = "*"
whitenoise = "*"
graphene-django = "*"
psycopg2-binary = "*"

[dev-packages]

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true
