.users-container {
  flex: 1;
  display: flex !important;
  margin: auto !important;
  justify-content: center !important;
  align-items: center !important;
  width: 100%;
}

.user-item {
  margin-top: 0.5rem !important;
  max-width: 200%;
}

.text-item span {
  font-size: 1.5rem;
}
