.users-container {
  display: flex;
  margin: auto;
}

.user-row {
  margin-top: 1.5rem !important;
  margin: 2rem;
}

.text-item span {
  font-size: 1.25rem;
}

.paginator {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
}
