.books-container {
  display: flex;
  justify-content: center;
  margin: auto;
  margin-top: 1.5rem;
}

.book {
  margin: auto;
  background: gray;
  max-width: 50%;
  min-height: 10rem;
  margin-top: 2.5rem;
}
