.books-container {
  display: flex;
  justify-content: center;
  margin: auto;
  margin-top: 1.5rem;
}

.book {
  margin: auto;
  max-width: 60%;
  min-height: 10rem;
  margin-top: 2.5rem;
}

.book img {
  display: block !important;
  width: 100%;
}

.book-button {
  background: #1976d2 !important;
}

.book-button:hover {
  background: #1976d2 !important;
}
