.root {
  flex-grow: 1;
  margin-bottom: 100;
  margin-bottom: 7rem !important;
}

.main-title {
  display: flex;
  flex: 1;
  width: 110%;
}

.app-bar {
  background: #1976d2;
}

.logo {
  cursor: pointer;
}

.navbar-right-side {
  display: flex;
  flex: 0;
}
